<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../profile_styles.css">
    <title>Profile</title>
</head>
<body>
    <div class="profile__container">
        <div class="profile__middle__container">
            <div class="avatar__container">
                <img src="../28732529ec5d0cf15dc92abf84027fb2eacabe87_00 — копия.jpg" alt="">
            </div>
            <div class="username__text__container">
                <p>Galdhaym</p>
            </div>
            <div class="edit__profile">
                <a href="/edit"><button id = "edit__button">Edit Profile</button></a>
            </div>
        </div>
    </div>
</body>
</html>