<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SIGN IN</title>
		<link rel="stylesheet" href="../css/styles.css" />
	</head>
	<body>
		<div class="page">
			<div class="form__container">
				<div class="form__container__inner">
					<form id="signin__form">
						<input class="form__input" type="text" id="username" name="username" placeholder="username" required />
						<input class="form__input" type="text" id="email" name="email" placeholder="email" required />
						<input class="form__input" type="text" id="password" name="password" placeholder="password" required />
						<input class="form__button" type="submit" value="SIGN IN" id="signin__submit" />
					</form>
					<p class="reg__link">Already have an account? <a href="/login">Log in</a></p>
				</div>
			</div>
		</div>
		<script src="../js/sign__in__script.js"></script>
	</body>
</html>
